nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ef4c00;
    color: #fff;
    padding: 1rem;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
  }
  
  li {
    margin-right: 1rem;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: #f0f0f0;
  }
  section{
    background: url(imgs.png) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}